# Source: https://kubernetes.io/docs/concepts/configuration/secret/#basic-authentication-secret
# Replace <base64_of_admin:hashedpassword_line> with the base64 encoded string of
# "admin:hashedpassword" where "hashedpassword" is generated using a tool like `htpasswd`.
# Example to generate the base64 string:
#   htpasswd -nb admin yourpassword | base64 -w0  # e.g., echo -n 'admin:$apr1$...' | base64 -w0  
# Make sure to replace "yourpassword" with a strong password.
# This secret will be used for basic authentication in the Ingress resource.
apiVersion: v1
kind: Secret
metadata:
  name: admin-basic-auth
  namespace: odoo-saas
type: Opaque
data:
  auth: "<base64_of_admin:hashedpassword_line>"  # e.g., echo -n 'admin:$apr1$...' | base64 -w0
